[Desktop Entry]
Version=1.0
Type=Application
Name=Basitune
Comment=Lightweight desktop wrapper for YouTube Music
Icon=com.basiphobe.basitune
Exec=basitune
Categories=AudioVideo;Audio;Player;
Terminal=false
StartupWMClass=Basitune
StartupNotify=true
